{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/fondologin.css' %}">
    <meta charset="UTF-8" />
    <title>Iniciar Sesión</title>
    <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
</head>
<body>
    <div class="login-wrapper">
        <div class="login-box">
            <h2>Iniciar Sesión</h2>
            <form method="post" novalidate>
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Entrar</button>
            </form>
            <p class="info-text">¿No tienes cuenta? <a href="{% url 'registro' %}">Regístrate aquí</a></p>
        </div>
    </div>
</body>
</html>
